// Theme:
$themePurple: #4337C9;
$themeBackground: #F9FAFB;

.createButton {
    border-radius: 5px;
    background-color: $themePurple;
    // height: 4em;
    text-align: center;
    padding: .5em;
    cursor: pointer;
    color: #FFF;

    // transition: all 0.1s ease-in-out;

    &:hover {
        transform: scale(1.01, 1.01);
    }
}

.button {
    border-radius: 5px;
    background-color: #eee;
    height: 4em;
    cursor: pointer;

    // text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.1s ease-in-out;

    &:hover {
        transform: scale(1.01, 1.01);
    }
}