@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @tailwind base; */
/* 
// Theme:
$themePurple: #4337C9;
$themeBackground: #F9FAFB; */

html,
body {
    /* margin: 0; */
    padding: 3px;

    font-family: "Readex Pro", sans-serif;
    font-size: calc(min(70px, 5vw));
}