@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?v49ui9');
  src: url('../fonts/icomoon.eot?v49ui9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?v49ui9') format('truetype'),
    url('../fonts/icomoon.woff?v49ui9') format('woff'),
    url('../fonts/icomoon.svg?v49ui9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mana_3:before {
  content: '\1e40';
}
