// Theme:
$themePurple: #4337C9;
$themeBackground: #F9FAFB;

html,
body {
    margin: 0;
    padding: 0;

    font-family: "Readex Pro", sans-serif;
    font-size: calc(min(70px, 6vw));
}

body {
    background-color: $themeBackground;
    width: 100%;

    margin: 0;
    padding: 0;
}

.createButton {
    border-radius: 5px;
    background-color: $themePurple;
    // height: 4em;
    text-align: center;
    padding: .5em;
    margin: .5em;
    cursor: pointer;
    color: #FFF;

    // transition: all 0.1s ease-in-out;

    &:hover {
        transform: scale(1.01, 1.01);
    }
}

.button {
    margin: 10px;
    border-radius: 5px;
    background-color: #eee;
    height: 4em;
    cursor: pointer;

    transition: all 0.1s ease-in-out;

    &:hover {
        transform: scale(1.01, 1.01);
    }
}