#spinner {
    display: inline-block;
    min-width: 30px;
    height: 30px;
    border: 5px solid rgb(165, 255, 110, 0.3);
    border-radius: 50%;
    border-top-color: rgb(165, 255, 110);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
