<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128925704902-n0ic4j1s5tk51t2vu8anu8glh3t5jimo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128925704902-n0ic4j1s5tk51t2vu8anu8glh3t5jimo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>128925704902-1prt50kd7uuvfasmrbmflgssd1rakvil.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAVI_IzxthTmFT8Fnl5Kj6BYPZMb8eOWa4</string>
	<key>GCM_SENDER_ID</key>
	<string>128925704902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.markets.manifold</string>
	<key>PROJECT_ID</key>
	<string>mantic-markets</string>
	<key>STORAGE_BUCKET</key>
	<string>mantic-markets.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128925704902:ios:b090f6578198ceca642dc7</string>
</dict>
</plist>